*{
  margin: 0%;
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
}

.cont{
  background-color: #15263F;
  display: block;
  margin: auto;
  padding-top: 30px;
  height: 543px;
  width: 327px;
  border-radius: 15px;

}

.bg-img{
  height: 278px;
  width: 278px;
  left: 24px;
  top: 24px;
  border-radius: 8px;
  margin-left: 25px;
}

.header-text-content{
  margin-left: 16px;
  margin-top: 25px;
}

.header-text{
  font-family: 'Outfit' , sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.paragrap{
  font-family: 'Outfit' , sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #8BACD9;
}

.etherium {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
}
.eht-icon{
  margin-top: 15px;
  display: inline;
}

.eth-text{
  font-family: 'Outfit' sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: #00FFF8;
  display: inline;
  margin-left: 5px;
}

.clock-img{
  margin-top: 15px;
  display: inline;
}

.clock{
  margin-right: 16px;
  margin-bottom: 20px;
}

.clock-text{
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #8BACD9;
  display: inline;
  margin-left: 5px;
}

hr{
  width: 300px;
  margin-left: 15px;
}

.bottom-content{
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  margin-top: 10px;
}

.img{
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.create{
  display: flex;
  margin-right: 50px;
}

.create-text{
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #8BACD9;
}

.name{
  font-family: 'Outfit' , sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
  margin-left: 10px;
}
